<!--
  Generated template for the StatisticOfHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
    <ion-navbar color="primary">
        {{cName}} {{siteName}}统计信息
    </ion-navbar>
    <ion-buttons end >
        <button ion-button icon-only >
            <ion-icon name="more-re" ></ion-icon>
        </button>
    </ion-buttons> -->
    <!--<ion-toolbar color="primary" style="text-align:center">-->
        <!--<ion-title>-->
            <!---->
        <!--</ion-title>-->
        <!--<ion-buttons start>-->
            <!--<button ion-button (click)="dismiss()">-->
                <!--<span showWhen="ios"></span>-->
                <!--<ion-icon ios="ios-close" showWhen="ios,android,windows,landscape"></ion-icon>-->
            <!--</button>-->
        <!--</ion-buttons>-->
    <!--</ion-toolbar>-->
<!-- </ion-header> -->

<ion-header >
    <ion-navbar color="headercolor"  style="text-align:center">
        <ion-title>
            {{cName}} {{siteName}}统计信息
        </ion-title>
        <ion-buttons end >
            <button ion-button icon-only >
                <ion-icon name="more-re" ></ion-icon>
            </button>
        </ion-buttons>
        
    </ion-navbar>
</ion-header>

<!--isPM25Display          : boolean = false;-->
<!--isPM10Display          : boolean = false;-->
<!--isNoiseDisplay         : boolean = false;-->
<!--isConWaterLevelDisplay : boolean = false;-->
<!--isFixWaterLevelDisplay : boolean = false;-->
<!--isWellDisplay          : boolean = false;-->

<ion-content padding padding-top="0">
    <!--<ion-card>-->
    <ion-grid>
        <ion-row>
            <ion-col col-1 padding-vertical>
                <ion-icon name="ios-pin-outline"></ion-icon>
            </ion-col>
            <ion-col col-11 no-padding>
                <button ion-button (click)="onSelectButtonClick()" clear class="selectButton" icon-right>{{fullname}}
                    <ion-icon name="ios-arrow-forward-outline"  ></ion-icon></button>
                <!--<button ion-button (click)="organChange()" clear class="selectButton" >{{projectName}}-->
                <!--<ion-icon name="ios-arrow-down-outline" item-right></ion-icon></button>-->
                <!--<button ion-button (click)="projectChange()" clear class="selectButton" >{{collectionPointName}}-->
                <!--<ion-icon name="ios-arrow-down-outline" item-right></ion-icon></button>-->
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--</ion-card>-->
    <accordionlist *ngIf="isNoiseDisplay"
                   title="噪音统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
        <div #chartOfNoise></div>
    </accordionlist>

    <accordionlist *ngIf="isPM25Display"
                   title="PM2.5统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
        <div #chartOfPM25></div>
    </accordionlist>

    <accordionlist *ngIf="isPM10Display"
                   title="PM10统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
        <div #chartOfPM10></div>
    </accordionlist>


    <accordionlist *ngIf="isFixWaterLevelDisplay"
                   title="固定水位统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
    </accordionlist>
    <accordionlist *ngIf="isConWaterLevelDisplay"
                   title="连续水位统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
    </accordionlist>
    <accordionlist *ngIf="isWellDisplay"
                   title="井盖统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#007aff">
    </accordionlist>

    <button ion-item detail-none (click)="showchartOfAirTemper()" no-lines style="background-color: #33A1C9; color:#ffffff" *ngIf="AirTempButton">
        <ion-icon item-left name="ios-arrow-forward">
        </ion-icon>
        空气温度统计
    </button>
    <ion-icon  *ngIf="AirTempButton"> </ion-icon>
    <accordionlist *ngIf="isAirTemperDisplay"
                   title="空气温度统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#33A1C9">
        <div #chartOfAirTemper></div>
       <ion-card>
        <ion-row>
            <ion-col col-4 ><button (tap)="getTimeBefore()" ion-button clear small>向前查询</button></ion-col>
            <ion-col style="text-align: center"><button (tap)="changeTime($event)" ion-button clear small>{{title}}</button></ion-col>
            <ion-col ><button (tap)="getTimeAfter()" ion-button clear small>向后查询</button></ion-col>
        </ion-row>
       </ion-card>
        <!--<div #chartOfAirTemper></div>-->
    </accordionlist>

    <button ion-item detail-none (click)="showchartOfAirHum()" no-lines style="background-color: #33A1C9; color:#ffffff" *ngIf="AirHumButton">
        <ion-icon item-left name="ios-arrow-forward">
        </ion-icon>
        空气湿度统计
    </button>

    <accordionlist *ngIf="isAirHumDisplay"
                   title="空气湿度统计"
                   textColor="#FFF"
                   hasMargin="false"
                   headerColor="#33A1C9">
        <div #chartOfPM10></div>
    </accordionlist>

    <!-- <accordionlist *ngIf="isInclinDisplay"
            title="树木倾斜度统计"
            textColor="#FFF"
            hasMargin="false"
            headerColor="#007aff">
            <div #chartOfInclin></div>
        </accordionlist> -->
</ion-content>
