// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.loggedOutMenu {
//  background-color: #2d2d2d;
//
//}


//隐藏滚动条

::-webkit-scrollbar {
  display: none !important;
}
.menu-image {
  background: blue !important;
  margin-bottom: -30% !important;
  margin-top: -10% !important;
}

.menu-image-height {
  position: relative;
  min-height: 150px !important;
}

.powered-by {
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.menu-header-image{
  position: absolute;
  top:6%;
  left:0%;
  background-color: transparent;
  font-color: white;
}
.toolbar-md {
  padding: 1px !important;
}
ion-app.md [padding-top],
ion-app.md [padding-top] .scroll-content {
  padding-top: 1px !important;
}
ion-app.md [padding-bottom],
ion-app.md [padding-bottom] .scroll-content {
  padding-bottom: 1px !important;
}
ion-app.md [margin-top],
ion-app.md [margin-top] .scroll-content {
  margin-top: 1px !important;
}
ion-app.md [margin-bottom],
ion-app.md [margin-bottom] .scroll-content {
  margin-bottom: 1px !important;
}
ion-app.ios [padding-top],
ion-app.ios [padding-top] .scroll-content {
  padding-top: 1px;
}
ion-app.ios [padding-bottom],
ion-app.ios [padding-bottom] .scroll-content {
  padding-bottom: 1px;
}
ion-app.ios [margin-top],
ion-app.ios [margin-top] .scroll-content {
  margin-top: 1px;
}
ion-app.ios [margin-bottom],
ion-app.ios [margin-bottom] .scroll-content {
  margin-bottom: 1px;
}
.tabbar {
  height: 9%;
}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
  margin-top: 0px;
}
.tabs-md .tab-button-text {
  font-size: 0.5rem;
}
.tabs-md .tab-button-icon {
  margin-top: 0px;
  height:60%;
  min-width:1.5rem;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #00A3CC;
}
// .item-md {
//   padding-left: 16px;
//   min-height:1rem;
//   height:10%;
//   margin:0px 0px 0px 0px;
//   padding-top:0px;
//   font-size: inherit;
//   border-bottom: 0.55px solid #c8c7cc;
// }
.oldtreelist{
  border-bottom: 0.1px solid #d1cece;
}
.oldtreeitem{
  padding-top:5%;
  display: table-cell;
  vertical-align:middle
}
.middlediv{
  display: table-cell;
  vertical-align:middle;
}
.grid{
  padding-top: 0px;
  padding-bottom: 0px;
}
.button-md {
  margin:0px 0px 0px 0px;
}
.navbartitle1{
  font-size:0.8em;
}
#img1{
  background:url("../assets/icon2/1_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}

#img1:hover{
  background:url("../assets/icon2/1_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img1:active{
  background:url("../assets/icon2/1_new.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img2 {
  background:url("../assets/icon2/2_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img2:hover {
  background:url("../assets/icon2/2_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img2:active {
  background:url("../assets/icon2/2_new.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img3  {
  background:url("../assets/icon2/3_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img3:hover{
  background:url("../assets/icon2/3_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:98%;
}
#img3:active  {
  background:url("../assets/icon2/3_new.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}

#img4  {
  background:url("../assets/icon2/4_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img4:hover  {
  background:url("../assets/icon2/4_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img4:active{
  background:url("../assets/icon2/4_new.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img5 {
  background:url("../assets/icon2/5_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img5:hover{
  background:url("../assets/icon2/5_old.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#img5:active{
  background:url("../assets/icon2/5_new.png") no-repeat;
  background-size: 100%;
  height:100%;
  width:100%;
}
#row1{
  height:55px;
}
#rowcol{
  padding:5px;
}
.col{
  padding-top:0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
