page-take-photo {
  .note {
    //border: solid darkgray 1px;
    background: transparent;
    height:10%;
    //background-image: none !important ;
    //border-bottom: none !important;
    padding: 1px;
    margin: 5px;
    text-align: center;
    max-width: 95%;
  }

  .select{
    border-left: solid darkgray 1px;
    text-align: center;
   // border-top: solid darkgray 1px;
    border-radius: 1px;
    background-color:ghostwhite;
    padding: 2%;
  }

  .selectButton{
    font-size: medium;
    padding: 0px;
    //max-width: 100%;
    min-width: 100%;
    background-color: #222222;
  }
}
